html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: $mainBackgroundColor;
    font-family: $mainFont;
}

.wrapper {
    position: relative;
    width: 100%;
    // min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
    // justify-content: space-between;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    color: $mainColor;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h2 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: $mainColor;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h3 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: $mainTextColor;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h4 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $mainTextColor;
}

p {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $additionalTextColor;
    letter-spacing: 0.02em;
}