$mainColor: #3E60B5;
$mainAccentColor: #88A6F5;
$mainBackgroundColor: #E5E5E5;;
$footerBackgroudColor: #293E55;

$secondaryBackgroundColor: #FFFFFF;
$secondaryColor: #D881CA;
$secondaryAccentColor: #FCE3ED;

$mainTextColor: #333333;
$secondaryTextColor: #828282;

$borderColor: #8396F3;
$lineColor: #B5B5B5;
$indicatorBackgroundColor: #87A6F4;
$indicatorColor: #616E81;
$gradientColor: #7573ED;
$routerColor: #BDBDBD;
$buttonGradientColor: #E898DB;
$buttonSecondaryGradientColor: #CD71BF;
$buttonMainGradientColor: #C876D6;

$mainFont: 'Rubik', sans-serif; 
// $HeaderFont: ;

$containerWidth: 1600px;

$mainTitleFontSize: 80px;
$titleFontSize: 50px;
$mainTextFontSize: 26px;
$textFontSize: 18px;
$secondaryTextFontSize: 14px;
$indicatorFontSize: 11px;
$routerFontSize: 15px;
$footerFontSize: 30px;

@import "https://cdnjs.cloudfare.com/ajax/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@import "layout";
@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./components/description.scss";
@import "./components/router.scss";
@import "./components/button.scss";
@import "./components/frame.scss";
@import "./components/timetable.scss";
@import "./components/tasks.scss";
@import "./components/interface.scss";
@import "./components/indicator.scss";
@import "./components/begin.scss";
@import "./components/forms.scss";
@import "./components/footer.scss";