@import "https://cdnjs.cloudfare.com/ajax/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #E5E5E5;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  color: #3E60B5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #3E60B5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #828282;
  letter-spacing: 0.02em;
}

.header {
  background-color: #FFFFFF;
}
.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #E5E5E5;
  margin-right: 40px;
  padding: 14px 40px 14px 40px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__name {
  white-space: nowrap;
  margin-right: 30px;
}

.sidebar {
  padding-right: 40px;
}

.description__container {
  padding: 0 140px 0 80px;
  margin-bottom: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.description__main-title {
  margin-bottom: 64px;
}
.description__content {
  padding-left: 60px;
  margin-bottom: 100px;
}
.description__title {
  margin-bottom: 10px;
}
.description__text {
  margin-bottom: 30px;
}
.description__btn {
  padding-left: 91px;
}
.date__title {
  margin-bottom: 15px;
}
.date__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date__line {
  width: 220px;
  border: 1px solid #828282;
  margin: 0 26px 0 26px;
}
.date__img {
  margin-right: 10px;
}

.router__container {
  padding-left: 140px;
  margin-bottom: 68px;
}
.router__text {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #BDBDBD;
}

.btn {
  position: relative;
  width: 388px;
  height: 61px;
  background: linear-gradient(94.43deg, #D881CA 9.07%, #C876D6 68.07%), linear-gradient(0deg, #D881CA, #D881CA), linear-gradient(92.59deg, #E898DB 10.1%, #CD71BF 93.52%);
  border-radius: 79px;
  color: #FFFFFF;
}
.btn__text {
  display: inline;
  margin-right: 10px;
}
.btn__introduce {
  padding: 20px 90px 20px 60px;
}
.btn::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 82px;
  left: -33px;
  top: -28px;
  background: url("/img/button-decoration.svg");
}

.frame__avatar {
  position: relative;
}
.frame__avatar__img {
  border-radius: 37px;
  border: 10px solid #88A6F5;
  width: 420px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.frame__avatar::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 410px;
  height: 412px;
  left: 0px;
  top: 40px;
  background: #3E60B5;
  border-radius: 37px;
  -webkit-transform: rotate(-6.93deg);
          transform: rotate(-6.93deg);
}