.begin {

    &__container {
        padding: 0 140px 0 80px;
        margin-bottom: 120px;
        display: block;
    }

    &__main-title {
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-left: 60px;
    }

    &__text {
        margin-right: 78px;
    }

    &__right {
        border-top: 1px solid $lineColor;
        padding-top: 20px;
        display: flex;
    }
}