.description {

    &__container {
        padding: 0 140px 0 80px;
        margin-bottom: 120px;
        justify-content: space-between;
    }

    &__main-title {
        margin-bottom: 64px;
    }

    &__left {
        
    }

    &__content {
        padding-left: 60px;
        margin-bottom: 100px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__btn {
        padding-left: 91px;
    }

    &__right {

    }

    &__avatar {
        margin-bottom: 106px;
    }

}

.date {

    &__title {
        margin-bottom: 15px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__line {
        width: 220px;
        border: 1px solid $secondaryTextColor;
        margin: 0 26px 0 26px;
    }

    &__img {
        margin-right: 10px;
    }
}