.frame {
    
    &__avatar {
        position: relative;

        &__img {
            border-radius: 37px;
            border: 10px solid $mainAccentColor;
            width: 420px;
            height: 450px;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 410px;
            height: 412px;
            left: 0px;
            top: 40px;
            background: $mainColor;
            border-radius: 37px;
            transform: rotate(-6.93deg);
        }
    }
}