.frame {

    &__img {
        border-radius: 37px;
        border: 10px solid $borderColor;
        width: 420px;
        height: 450px;
        object-fit: cover;
    }
    
    &__avatar {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 430px;
            height: 420px;
            left: -11px;
            top: 31px;
            background: $mainColor;
            border-radius: 37px;
            transform: rotate(-6.93deg);
        }
    }

    &__task {
        position: relative;
        border-radius: 37px;
        border: 10px solid $borderColor;
        background: $secondaryBackgroundColor;
        width: 900px;
        height: 327px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 897.37px;
            height: 299.14px;
            left: -12px;
            top: 6px;
            background: $mainColor;
            border-radius: 37px;
            transform: rotate(-6.93deg);
        }

        &::after {
            content: "";
            position: absolute;

            background-image: url("/img/example.svg");
            background-repeat: no-repeat;

            width: 297.88px;
            height: 171.98px;
            left: -10px;
            top: 145px;
        }
    }

    &__answer {
        position: relative;
        border-radius: 37px;
        border: 10px solid $borderColor;
        background: $secondaryBackgroundColor;
        width: 424px;
        height: 284px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 424px;
            height: 284px;
            left: -12px;
            top: -10px;
            background: $mainColor;
            border-radius: 37px;
            transform: rotate(-6.18deg);
        }
    }
}