.header {
    background-color: $secondaryBackgroundColor;

    &__container {
        align-items: center;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        border-right: 1px solid $mainBackgroundColor;
        margin-right: 40px;
        padding: 14px 40px 14px 40px;
    }
}

.user {
    display: flex;
    align-items: center;

    &__name {
        white-space: nowrap;
        margin-right: 30px;
    }
}