.indicator {

    width: 58px;
    height: 34px;
    border-radius: 53px;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 500;

    &__fill {
        background: $indicatorBackgroundColor;
        color: $additionalBackgroundColor;
    }

    &__empty {
        border: 1px solid $indicatorColor;
        color: $indicatorColor;
    }
}