.interface {

    &__container {
        padding: 0 140px 0 80px;
        margin-bottom: 120px;
        display: block;
    }

    &__main-title {
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
    }

    &__title {
        padding-left: 60px;
        margin-right: 70px;
    }

    &__blocks {
        padding-top: 42px;
        flex-grow: 1;
    }

    &__block {
        padding: 20px 0 0 0;
        border-top: 1px solid $lineColor;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}