.router {

    &__container {
        padding-left: 140px;
        margin-bottom: 68px;
    }

    &__text {
        font-size: $routerFontSize;
        letter-spacing: 0.06em;
        color: $routerColor;
    }
}